<footer class="bg1 text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <p>Ven a por tus croquetas favoritas en Avda. de la Innovación, 7-9</p>
    </section>
  </div>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    <p>La Croquetería  ©</p>
  </div>
</footer>
