<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Site</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/bootstrap/bundle.js"></script>
  </head>
  <body>
    <div class ="bg1 d-flex justify-content-center align-items-center">
      <h1 class = "text-white">LA CROQUETERÍA</h1>
    </div>
  </body>
</html>
